@import './node_modules/tachyons-sass/tachyons.scss';

#pDebug a#pShowToolBarButton {
  display:none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: sans-serif;

}

a,
a:visited {
  text-decoration: none;
  color: #2f5ce2;
}

.map-background {
  background-image: url('../art/map_background.png');
  background-size: cover;
}

.ally,
.civilian {
  transition: all 1s;
}

.assassin {
  transition: all 1s;
  transform: scale(2);
}

@keyframes slidein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.game-message {
  animation: 3s step-end slidein;
}

.game-message.win {
  animation: 1s ease-in slidein;
}
