@import './node_modules/tachyons-sass/tachyons.scss';

#pDebug a#pShowToolBarButton {
  display:none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: sans-serif;

}

a,
a:visited {
  text-decoration: none;
  color: #2f5ce2;
}
