@import './node_modules/tachyons-sass/tachyons.scss';

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

a,
a:visited {
  color: $blue;
}

nav {
  font-weight: bold;
  margin: $spacing-small;
  font-size: 1rem;
}

nav a,
nav a:visited {
  display: inline-block;
  color: $red;
  padding: $spacing-small $spacing-medium;
  border: 1px solid $red;
}

input {
  font-size: 1rem;
  padding: .5rem;
}

form {
  margin: $spacing-large $spacing-small;
}

.error {
  margin: $spacing-small;
  margin: 1em 0;
  color: #dd133f;
}

ul.results {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

ul.results li {
  display: inline-block;
  margin: $spacing-small;
}

#pDebug a#pShowToolBarButton {
  display:none !important;
}


.map-background {
  background-image: url('../art/map_background.png');
  background-size: cover;
}

.ally,
.civilian {
  transition: all 1s;
}

.assassin {
  transition: all 1s;
  transform: scale(2);
}

@keyframes slidein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.game-message {
  animation: 3s step-end slidein;
}

.game-message.win {
  animation: 1s ease-in slidein;
}
