<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="defaultLanguage" content="en">
    <meta name="availableLanguages" content="en">

    <title>{% block title %}{% endblock %}{% if self.title() %} · {% endif %}{{ request.registry.settings['site.name'] }}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="stylesheet" href="{{ request.static_path('thesaurus:static/index.css') }}">
  </head>
  <body className='w-100 h-100 sans-serif'>

    {% block top_bar %}
      {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

  </body>
</html>
